.header .col-sm-2{
padding-top: 58px!important;
padding-bottom: 58px!important;
text-align: center;
padding-left: 0 !important;
max-width: 20.6% !important;
}

@media (max-width: 1200px){
    
    .offset-md-2 {
    margin-left: 6.666667% !important;
}
.col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 20.666667% !important;
}
}


.header-button{
    background: #085852;
border-radius: 30px;
border: none;
max-width: 300px;
height: 48px;

color: #FFFFFF;
}
.header span{
    padding: 12px 0 !important;
    color: #383838;
}
 .header button{
    padding: 12px 24px;
}
img{
    width: 100%;
}
@media all and (max-width:1000px) {
    .div-button{
    text-align: center !important;
}
    #unique{
        font-size:38px !important;
    }
    .stats span{
        font-size: 55px !important;
    }

    .marque, .clients{
        padding-top: 180px !important;
    }
}
@media all and (max-width:767px) {
    #stats-img{
        display: none;
}
}

.contact h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #085852;
}
.contact p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* or 125% */


/* Antracite Grey */

color: #383838;
}

#button-decouvrir, #button-contacter{
    border-radius: 30px;
    border: solid 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 207px;
}
#button-decouvrir{
    background: #085852;
    color: white;
}
@media  all and (max-width: 468px) {
    #button-decouvrir{
        margin: 0 !important;
    }
}
#button-contacter{
    background: #FAFAFA;
}
.contact-prez{
    
}

@media all and (min-width:1400px) {
    .bloc{
    padding-left: 205px!important;
    padding-right: 205px!important;
}
}
.container-fluid.presentation.align-items-center.bloc{
    width: 100% !important;
}
.presentation-bloc{
    padding: 0 !important;
}
.presentation-bloc-text1{
    padding: 0 25px !important;
}
.presentation-bloc-text2{
    padding: 0 25px !important;
}
.presentation-bloc-text3{
    padding: 0 25px !important;
}

.presentation-bloc h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    
    
    /* Antracite Grey */
    
    color: #383838;

}
.presentation-bloc p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Antracite Grey */

color: #383838;

}
@media all and (min-width:1000px){
    .presentation-bloc-text1{
        padding: 0 175px !important;
    }
    .presentation-bloc-text2{
        padding: 0 160px !important;
    }
    .presentation-bloc-text3{
        padding: 0 140px !important;
    }
    .dessin{
        padding-top: 0px !important;
    }
}
.dessin{
    padding-top: 60px;
}
.presentation-bloc-text1{
        padding: 40px 15px !important;
    }
    .presentation-bloc-text2{
        padding: 40px 15px !important;
    }
    .presentation-bloc-text3{
        padding: 40px 15px !important;
    }

#unique{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 86px;
/* or 134% */


/* Antracite Grey */

color: #383838;
}
.stats h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    
    /* Antracite Grey */
    
    color: #383838;
    padding-bottom: 36px;
    
}

.stats p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
padding-bottom: 64px;

/* Text/Body Text */

color: #666666;
}

.stats span {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 96px;
/* identical to box height, or 133% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Deep jungle green */

color: #085852;

}

.stats a ,.stats a:hover{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Deep jungle green */

color: #085852;
text-decoration: none;
}

.mockup h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;

/* Antracite Grey */

color: #383838;
padding-bottom: 36px;
}

.mockup p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* Text/Body Text */

color: #666666;
padding-bottom: 36px;
}

@media all and (max-width: 1000px) {
    .marque h2{
        font-size: 36px !important;
    }
    .marque p{
        font-size: 13px !important;
    }
    #img-mobile{
        display: block !important;
    }
    #img-desktop{
        display: none !important;
    }
}
#img-mobile{
    display: none;
}

.marque h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

/* Antracite Grey */

color: #383838;
}

.marque p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* Antracite Grey */

color: #383838;
}
.marque button{
    border-radius: 30px;
    border: solid 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 260px;
    background-color: #085852;
    color: white;
}

.client h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/Title Text */

color: #333333;
}
.client h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/Title Text */

color: #333333;
}
.client p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* Text/Body Text */

color: #666666;

}
.client h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/Title Text */

color: #333333;
}
@media all and (max-width:768px) {
    .client h6,.client p,.client h3,.client h2{
        text-align: center !important;
    }
    .client p{
        padding-bottom: 0 !important;
    }
    .client h6{
        padding-bottom: 30px;
    }
    .client h3{
        padding-top: 20px;
    }
}

@media all and (max-width:575px) {
    .button-mockup{
        width: 100% !important;
    }
    #img-mobile{
        max-width: 100% !important;
        padding-bottom: 50px;
    }
    #mockup-logo{
        padding-bottom: 50px !important;
    }
    .mockup{
        padding-top: 70px !important;
    }
    .marque-img{
        padding-top: 25px;
    }
}
@media all and (min-width:576px) and (max-width:1000px) {
    
    #mockup-logo{
        padding-bottom: 50px !important;
    }
    .button-mockup{
        width: 65% !important;
    }
    .center-block{
        padding: 0 120px;
    }
    .mockup{
        padding-top: 70px !important;
    }

}
@media all and (min-width:575px) and (max-width :750px) {
    #img-mobile{
        padding: 0 80px 50px 80px
    }
}

@media all and (min-width:750px) and (max-width :1000px) {
    #img-mobile{
        padding: 0 180px
    }
}
